<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="Wide">
    <meta name="Keywords" content="Wide">
    <title>WIDE</title>
	<meta http-equiv="refresh" content="2000">
	<script type="text/javascript">
		window.$( document ).ready(function() {
			/* welcome amination set to 1 */ window.$animation = 0;
		});
	</script>
</head>
<body location="mainBody" class="welcome">
	<div class="header">
		<div>
			<ul class="menu">
				<li><a href="#" target="" class="learn">Learn</a></li>
				<li><a href="#" target="" class="teach">Teach</a></li>
			</ul>
			<div class="topSearch search reset">
				<div class="input"><input class="searchInput filled default" type="text" value="Enter search keywords here" name="Enter search keywords here"/><input class="filterIco" type="submit" value=" "/></div>
			</div>
			<a href="#" class="userIco"></a>
			<a href="#" class="logo" title="WIDE"></a>
			<a href="#" location="auth_user"></a>
			<div class="subHeader">
				<div class="subMenuContainer">
					<ul location="mainMenuItems" class="subMenu first">
						<li><a href="#" target="" class="math">Math</a></li>
						<li><a href="#" target="">Science</a></li>
						<li><a href="#" target="">Economics</a></li>
						<li><a href="#" target="">Finance</a></li>
						<li><a href="#" target="">Humanities</a></li>
						<li><a href="#" target="">Engineering</a></li>
						<li><a href="#" target="">Law</a></li>
						<li><a href="#" target="">Music</a></li>
						<li><a href="#" target="">Language</a></li>
					</ul>
					<ul location="subMenuItems" class="subMenu second no6">
						<li><a href="#" target="">Biology</a></li>
						<li><a href="#" target="">Computer science</a></li>
						<li><a href="#" target="">Physics</a></li>
						<li><a href="#" target="">Medicine</a></li>
						<li><a href="#" target="">Chemistry</a></li>
						<li><a href="#" target="">Cosmology and astronomy</a></li>
						<li><a href="#" target="">Organic chemistry</a></li>
						<li><a href="#" target="">Other</a></li>
						<li><a href="#" target="">Biology</a></li>
						<li><a href="#" target="">Computer science</a></li>
						<li><a href="#" target="">Phisics</a></li>
						<li><a href="#" target="">Medicine</a></li>
						<li><a href="#" target="">Chemistry</a></li>
						<li><a href="#" target="">Cosmology and astronomy</a></li>
						<li><a href="#" target="">Organic chemistry</a></li>
						<li><a href="#" target="">Other</a></li>
						<li><a href="#" target="">Organic chemistry</a></li>
						<li><a href="#" target="">Other</a></li>
						<li><a href="#" target="">Biology</a></li>
						<li><a href="#" target="">Computer science</a></li>
						<li><a href="#" target="">Phisics</a></li>
						<li><a href="#" target="">Medicine</a></li>
						<li><a href="#" target="">Chemistry</a></li>
						<li><a href="#" target="">Cosmology and astronomy</a></li>
						<li><a href="#" target="">Organic chemistry</a></li>
						<li><a href="#" target="">Other</a></li>
						<li><a href="#" target="">Organic chemistry</a></li>
						<li><a href="#" target="">Other</a></li>
						<li><a href="#" target="">Biology</a></li>
						<li><a href="#" target="">Computer science</a></li>
						<li><a href="#" target="">Physics</a></li>
						<li><a href="#" target="">Medicine</a></li>
						<li><a href="#" target="">Chemistry</a></li>
						<li><a href="#" target="">Cosmology and astronomy</a></li>
						<li><a href="#" target="">Organic chemistry</a></li>
						<li><a href="#" target="">Other</a></li>
					</ul>
				</div>
				<div class="userSubContainer">
					<ul class="subMenu">
						<li><a href="#" target="">Log in</a></li>
						<li><a href="#" target="">Profile</a></li>
						<li><a href="#" target="">Log out</a></li>
						<li><a href="#!role_user" target="">User page</a></li>
						<li><a href="#!role_admin" target="">Admin page</a></li>
					</ul>
				</div>
				<div class="searchFilter reset">
					<ul class="col">
						<li><a href="#" target="">Difficulty level 1-5</a></li>
						<li><a href="#" target=""><input type="text" class="filled default" value="Author" name="Author"/></a></li>
						<li><a href="#" target="">School level</a></li>
						<li><a href="#" target="">Type</a></li>
					</ul>
					<ul class="col">					
						<li><a href="#" target="">Ratings
								<div class="rating">
									<input type="checkbox" name="rating1" value="1" checked /><span></span>
									<input type="checkbox" name="rating2" value="2" checked /><span></span>
									<input type="checkbox" name="rating3" value="3" checked /><span></span>
									<input type="checkbox" name="rating4" value="4" checked /><span></span>
									<input type="checkbox" name="rating5" value="5" checked /><span></span>
								</div>
							</a>
						</li>
						<li><a href="#" target=""><input type="text" class="filled default" value="Publisher" name="Publisher"/></a></li>
						<li><a href="#" target=""><input type="text" class="filled default" value="Book" name="Book"/></a></li>
						<li><a href="#" target=""><input type="text" class="filled default" value="Title" name="Title"/></a></li>
					</ul>
					<ul class="col">					
						<li><a href="#" target="">Test member yes/no</a></li>
						<li><a href="#" target=""><input type="text" class="half filled default" value="Submits No." name="Submits No."/></a></li>
					</ul>
					<a class="closeFilter" href="#"></a>
					<a href="#" class="clearFilter">X</a>
					<ul class="typeSelector">
						<input type="checkbox" name="typeCategory" value="1" checked /><li>Menus</li><input type="checkbox" name="typeLesson" value="1"  checked /><li>Lessons</li><input type="checkbox" name="typeTest" value="1"  checked  /><li>Tests</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<table class="container">
		<tr><td class="top"></td></tr>
		<tr>
			<td class="left">
				<div>
					<ul location="crumb" class="breadcrumb">
						<li><a href="#">Math</a></li>
						<li><a href="#">Basic</a></li>
						<li><a href="#">Sum</a></li>
						<li><a href="#">This is a Mississippi</a></li>
					</ul>
				</div>
			</td>
			<td class="main mainPageShadow">
				<div class="firstContent">
					<div class="search">
						<div class="searchLogo fadeIn" style="display: block;"></div>
						<div class="input fadeIn" style="display: block;"><input type="text" class="text filled default" value="Enter search keywords here" name="Enter search keywords here"><input class="submit" type="submit" value=" "></div>
					</div>
				</div>
				<div location="secondaryLevel" class="secondContent">
					<ul class="filterList">
						<li class="folder">
							<img class="icon" src="example/1.jpg" />
							<div class="title">This is a Mississippi long like subcategory name as you see</div>
							<div class="subfolders">Subcategories: <b>82</b></div>
							<div class="lessons">Lessons: <b>33</b></div>
							<div class="tests">Tests: <b>12</b></div> 
						</li>
						<li class="folder">
							<img class="icon" src="example/3.jpg" />
							<div class="title">This is a Mississippi long like subcategory name as you see</div>
							<div class="subfolders">Subcategories: <b>82</b></div>
							<div class="lessons">Lessons: <b>33</b></div>
							<div class="tests">Tests: <b>12</b></div> 
						</li>
						<li class="lesson">
							<img class="icon" src="example/2.jpg" />
							<div class="title"><div class="schoolLevel university"></div>This is a Mississippi long like lesson name as you see</div>
							<img class="level" src="../img/level2.png" />
							<img class="rank" src="../img/rank4.png" />
							<div class="author">Author: <a href="#">Stephen Hawking</a></div>
						</li>
					</ul>
				</div>
			</td>
			<td class="right">
				<div>
					<ul class="ads">
						<li><a href="#"><img src="example/1.jpg" />Bla bla bla and more bla bla bla. Click here for more blah blahhh blaaah</a></li>
						<li><a href="#"><img src="example/2.jpg" />Bla bla bla and more bla bla bla. Click here for more blah blahhh blaaah</a></li>
						<li><a href="#"><img src="example/3.jpg" />Bla bla bla and more bla bla bla. Click here for more blah blahhh blaaah</a></li>
					</ul>
				</div>
			</td>
		<tr><td class="bottom"></td></tr>
	</table>
	<div class="footer">
		<div>
			® Copyight by <a href="/">WIDE</a>, 
			Made by <a href="/" target="_blank">The W.I.D.E. Team</a>
			<ul class="footerIcons">
				<li><a href="#" target="" class="donate">donate</a></li>
				<li><a href="#" target="" class="aboutUs">about us</a></li>
			</ul>
			<ul class="socialIcons">
				<li><a href="1.html" target="" class="fbIco">facebook</a></li>
				<li><a href="2.html" target="" class="twIco">about us</a></li>
				<li><a href="3.html" target="" class="gIco">google+</a></li>
				<li><a href="4.html" target="" class="ytIco">youtube</a></li>
			</ul>
		</div>
	</div>
</body>
</html>