<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="Wide">
    <meta name="Keywords" content="Wide">
    <title>WIDE</title>
	<meta http-equiv="refresh" content="2000">
	<script type="text/javascript">
		window.$( document ).ready(function() {
			/* welcome amination set to 1 */ window.$animation = 0;
		});
	</script>
</head>
<body class="">
	<div class="header">
		<div>
			<ul class="menu">
				<li><a href="#!viewExercise" target="" class="learn">Learn</a></li>
				<li><a href="#!viewExercise" target="" class="teach">Teach</a></li>
			</ul>
			<div class="topSearch search reset">
				<div class="input"><input class="searchInput filled default" type="text" value="Enter search keywords here" name="Enter search keywords here"/><input class="filterIco" type="submit" value=" "/></div>
			</div>
			<a href="#!viewExercise" class="userIco">
			<div location="auth_user"></div>
			</a>
			<a href="" class="logo" title="WIDE"></a>
			<div class="subHeader">
				<div class="subMenuContainer">
					<ul location="mainMenuItems" class="subMenu first">
					</ul>
					<ul location="subMenuItems" class="subMenu second no6">
					</ul>
				</div>
				<div class="userSubContainer">
					<ul class="subMenu">
						<li><a href="#!viewExercise" target="">Log in</a></li>
						<li><a href="#!viewExercise" target="">Profile</a></li>
						<li><a href="#!viewExercise" target="">Log out</a></li>
					</ul>
				</div>
				<div class="searchFilter reset">
					<ul class="col">
						<li><a href="#!viewExercise" target="">Difficulty level 1-5</a></li>
						<li><a href="#!viewExercise" target=""><input type="text" class="half filled default" value="Author" name="Author"/></a></li>
						<li><a href="#!viewExercise" target="">School level</a></li>
						<li><a href="#!viewExercise" target="">Type</a></li>
					</ul>
					<ul class="col">					
						<li><a href="#!viewExercise" target="">Ratings
								<div class="rating">
									<input type="checkbox" name="rating1" value="1" checked /><span></span>
									<input type="checkbox" name="rating2" value="2" checked /><span></span>
									<input type="checkbox" name="rating3" value="3" checked /><span></span>
									<input type="checkbox" name="rating4" value="4" checked /><span></span>
									<input type="checkbox" name="rating5" value="5" checked /><span></span>
								</div>
							</a>
						</li>
						<li><a href="#!viewExercise" target=""><input type="text" class="half filled default" value="Publisher" name="Publisher"/></a></li>
						<li><a href="#!viewExercise" target=""><input type="text" class="half filled default" value="Book" name="Book"/></a></li>
						<li><a href="#!viewExercise" target=""><input type="text" class="half filled default" value="Title" name="Title"/></a></li>
					</ul>
					<ul class="col">					
						<li><a href="#!viewExercise" target="">Test member yes/no</a></li>
						<li><a href="#!viewExercise" target=""><input type="text" class="half filled default" value="Submits No." name="Submits No."/></a></li>
						<li><a href="#!viewExercise" target="">Language</a></li>
						<li><a href="#!viewExercise" target=""><select name="Language" class="filled default"><option selected disabled hidden value="Language">Please select...</option><option value="English">English</option><option value="Hungarian">Hungarian</option><option value="Serbian">Serbian</option></select></a></li>
					</ul>
					<a class="closeFilter" href="#!viewExercise"></a>
					<a href="#!viewExercise" class="clearFilter">X</a>
					<ul class="typeSelector">
						<input type="checkbox" name="typeCategory" value="1" checked /><li>Menus</li><input type="checkbox" name="typeLesson" value="1"  checked /><li>Lessons</li><input type="checkbox" name="typeTest" value="1"  checked  /><li>Tests</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<table class="container">
		<tr><td class="top"></td></tr>
		<tr>
			<td class="left">
				<div>
					<ul location="crumb" class="breadcrumb">
						<li><a href="#!viewExercise">Math</a></li>
						<li><a href="#!viewExercise">Basic</a></li>
						<li><a href="#!viewExercise">Sum</a></li>
						<li><a href="#!viewExercise">This is a Mississippi</a></li>
					</ul>
				</div>
			</td>
			<td class="main mainPageShadow">
				<div class="thirdContent">
					<div class="lesson">
						<div location="lessonHeader" class="lessonHeader">
							<div class="title"><div class="schoolLevel university inTest"></div>This is a Mississippi long like lesson name as you see</div>
							<div class="author">by: <a href="#">Stephen Hawking</a></div>
						</div>
						<div location="lessonDetails" class="lessonDetails">
							<img class="level" src="../img/level2.png" />
							<img class="rank" src="../img/rank4.png" />
							<ul class="source">
								<li>Szerző: <a href="#">God The Only One</a></li>
								<li>Könyv: <a href="#">Bible</a></li>
								<li>Kiadó: <a href="#">St. Joseph the bookmaker lol</a></li>
							</ul>
							<ul class="tags">Tags:
								<li><a href="#">this</a>,</li>
								<li><a href="#">is</a>,</li>
								<li><a href="#">how</a>,</li>
								<li><a href="#">the</a>,</li>
								<li><a href="#">bible</a>,</li>
								<li><a href="#">made</a>,</li>
							</ul>
						</div>
						<div class="solutionBar">
							<div class="yourSolution">
								<input type="text" class="default" value="Your solution comes here" />								
								<div class="buttons">
									<input type="submit" class="submit" value="Submit" />
									<input type="submit" value="Hint" disabled="disabled" style="color:#DF0101"/>
									<input type="submit" value="Solution" />
								</div>
							</div>
							<div location="links">
								<ul class="links">Links:
									<li><a href="#">www.google.com</a></li>
									<li><a href="#">www.yahoo.com</a></li>
									<li><a href="#">www.nottoolongurlname.com</a></li>
								</ul>
							</div>
						</div>
						<div location="lessonDesc" class="theLesson">
							Lelepleztek egy hatmilliárd forintnyi édességgel kereskedő bűnszervezetet. Tagjait különösen nagy vagyoni hátrányt okozó költségvetési csalással gyanúsítják - közölte a Nemzeti Adó- és Vámhivatal (NAV) szerdán az MTI-vel.
							<br /><br /><img width="600" src="http://kep.cdn.index.hu/1/0/576/5761/57611/5761138_5fce7f2b2ae38ec14ecac7fbc4505d6d_wm.jpg" />
						</div>
					</div>
				</div>
			</td>
			<td class="right">
				<div>
					<ul class="ads">
						<li><a href="#"><img src="example/1.jpg" />Bla bla bla and more bla bla bla. Click here for more blah blahhh blaaah</a></li>
						<li><a href="#"><img src="example/2.jpg" />Bla bla bla and more bla bla bla. Click here for more blah blahhh blaaah</a></li>
						<li><a href="#"><img src="example/3.jpg" />Bla bla bla and more bla bla bla. Click here for more blah blahhh blaaah</a></li>
					</ul>
				</div>
			</td>
		<tr><td class="bottom"></td></tr>
	</table>
	<div class="footer">
		<div>
			® Copyight by <a href="/">WIDE</a>, 
			Made by <a href="/" target="_blank">The W.I.D.E. Team</a>
			<ul class="footerIcons">
				<li><a href="#!viewExercise" target="" class="donate">donate</a></li>
				<li><a href="#!viewExercise" target="" class="aboutUs">about us</a></li>
			</ul>
			<ul class="socialIcons">
				<li><a href="#!viewExercise" target="" class="fbIco">facebook</a></li>
				<li><a href="#!viewExercise" target="" class="twIco">about us</a></li>
				<li><a href="#!viewExercise" target="" class="gIco">google+</a></li>
				<li><a href="#!viewExercise" target="" class="ytIco">youtube</a></li>
			</ul>
		</div>
	</div>
	<div id="dialog-message" class="active" style="font-size:10pt" title="Share URL">
		<p>
		<input id="share_url" name="name" type="text" value="Test text" size="55">
		</p>
		<p>
		Use Ctrl+C to copy the URL to your clipboard or add the URL to your cart with the Add button.
		</p>
	</div>
	<div id="dialog-message-err" style="font-size:10pt" title="Share URL">
		<p>
		To share an exercise with others, please <a href="#!login" onclick="window.$('#dialog-message-err').dialog('close')">log in</a>. 
		</p>
	</div>
</body>
</html>