<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="Wide">
    <meta name="Keywords" content="Wide">
    <title>WIDE</title>
	<link rel="stylesheet" href="../styles.css">
	<link rel="stylesheet" href="../css/welcome.css">
	<meta http-equiv="refresh" content="2000">
	<script type="text/javascript">
		window.$( document ).ready(function() {
			/* welcome amination set to 1 */ window.$animation = 0;
		});
	</script>
</head>
<body>
	<div class="header">
		<div>
			<ul class="menu">
				<li><a href="#" target="" class="learn">learn</a></li>
				<li><a href="#" target="" class="teach">teach</a></li>
				<li><a href="#" target="" class="browse">browse</a></li>
			</ul>
			<a href="/" class="logo" title="WIDE">education</a>
			<a href="#" class="userIco"></a>
			<div class="subHeader">
				<div class="subMenuContainer">
					<ul location="mainMenuItems" class="subMenu first">
						<li><a href="#" target="">Math</a></li>
						<li><a href="#" target="">Science</a></li>
						<li><a href="#" target="">Economics</a></li>
						<li><a href="#" target="">Finance</a></li>
						<li><a href="#" target="">Humanities</a></li>
						<li><a href="#" target="">Engineering</a></li>
						<li><a href="#" target="">Law</a></li>
						<li><a href="#" target="">Music</a></li>
						<li><a href="#" target="">Language</a></li>
					</ul>
					<ul class="subMenu second no6">
						<li><a href="#" target="">Biology</a></li>
						<li><a href="#" target="">Computer science</a></li>
						<li><a href="#" target="">Phisics</a></li>
						<li><a href="#" target="">Medicine</a></li>
						<li><a href="#" target="">Chemistry</a></li>
						<li><a href="#" target="">Cosmology and astronomy</a></li>
						<li><a href="#" target="">Organic chemistry</a></li>
						<li><a href="#" target="">Other</a></li>
					</ul>
				</div>
				<div class="userSubContainer">
					<ul class="subMenu">
						<li><a href="#" target="">Log in</a></li>
						<li><a href="#" target="">Profile</a></li>
						<li><a href="#" target="">Log out</a></li>
					</ul>
				</div>
				
			</div>
		</div>
	</div>
	<div class="top">
	</div>
	<div class="left"></div>
	<div class="main"></div>
	<div class="right"></div>
	<div class="bottom"></div>
	<div class="footer fixed">
		<div>
			® Copyight by <a href="/">WIDE</a>, 
			Made by <a href="/" target="_blank">The W.I.D.E. Team</a>
			<ul class="footerIcons">
				<li><a href="#" target="" class="donate">donate</a></li>
				<li><a href="#" target="" class="aboutUs">about us</a></li>
			</ul>
			<ul class="socialIcons">
				<li><a href="1.html" target="" class="fbIco">facebook</a></li>
				<li><a href="2.html" target="" class="twIco">about us</a></li>
				<li><a href="3.html" target="" class="gIco">google+</a></li>
				<li><a href="4.html" target="" class="ytIco">youtube</a></li>
			</ul>
		</div>
	</div>
</body>
</html>