<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="Wide">
    <meta name="Keywords" content="Wide">
    <title>WIDE</title>
	<meta http-equiv="refresh" content="2000">	
</head>
<body class="">
	<div class="header">
		<div>
			<ul class="menu">
				<li><a href="#!login" target="" class="learn">Learn</a></li>
				<li><a href="#!login" target="" class="teach">Teach</a></li>
			</ul>
			<div class="topSearch search reset">
				<div class="input"><input class="searchInput default" type="text" value="Enter search keywords here" /><input class="filterIco" type="submit" value=" "/></div>
			</div>
			<a href="#!login" class="userIco">
			<div location="auth_user"></div>
			</a>
			<a href="#!login" class="logo" title="WIDE"></a>
			<div class="subHeader">
				<div class="subMenuContainer">
					<ul class="subMenu first">
					</ul>
					<ul class="subMenu second no6">
					</ul>
				</div>
				<div class="userSubContainer">
					<ul class="subMenu">
						<li><a href="#!login" target="">Log in</a></li>
						<li><a href="#!login" target="">Profile</a></li>
						<li><a href="#!login" target="">Log out</a></li>
					</ul>
				</div>
				<div class="searchFilter reset">
					<ul class="col">
						<li><a href="#!login" target="">Difficulty level 1-5</a></li>
						<li><a href="#!login" target=""><input type="text" class="default" value="Author" /></a></li>
						<li><a href="#!login" target="">School level</a></li>
						<li><a href="#!login" target="">Type</a></li>
					</ul>
					<ul class="col">					
						<li><a href="#!login" target="">Ratings
								<div class="rating">
									<input type="checkbox" name="rating1" value="1" checked /><span></span>
									<input type="checkbox" name="rating2" value="2" checked /><span></span>
									<input type="checkbox" name="rating3" value="3" checked /><span></span>
									<input type="checkbox" name="rating4" value="4" checked /><span></span>
									<input type="checkbox" name="rating5" value="5" checked /><span></span>
								</div>
							</a>
						</li>
						<li><a href="#!login" target=""><input type="text" class="default" value="Publisher" /></a></li>
						<li><a href="#!login" target=""><input type="text" class="default" value="Book" /></a></li>
						<li><a href="#!login" target=""><input type="text" class="default" value="Title" /></a></li>
					</ul>
					<ul class="col">					
						<li><a href="#!login" target="">Test member yes/no</a></li>
						<li><a href="#!login" target=""><input type="text" class="half default" value="Submits No." /></a></li>
					</ul>
					<a class="closeFilter" href="#!login"></a>
					<a href="#!login" class="clearFilter">X</a>
					<ul class="typeSelector">
						<input type="checkbox" name="typeCategory" value="1" checked /><li>Menus</li><input type="checkbox" name="typeLesson" value="1"  checked /><li>Lessons</li><input type="checkbox" name="typeTest" value="1"  checked  /><li>Tests</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<table class="container">
		<tr><td class="top"></td></tr>
		<tr>
			<td class="left">&nbsp;</td>
			<td class="main mainPageShadow">
				<div class="thirdContent">
					<div class="login">
						<div class="loginPanel">
                            <div class="input fadeIn" style="display: block;">
                                <table>
                                	<tr><td style="padding:3px;color:white">Username:</td><td style="color:white">Password:</td></tr>
                                	<tr><td style="padding:3px"><input id="uname" type="text" class="default" value="Enter username here"
                                	onFocus="if (document.getElementById('uname').value == 'Enter username here') {document.getElementById('uname').className='';document.getElementById('uname').value=''};"
                                	onBlur="if (document.getElementById('uname').value=='') {document.getElementById('uname').className='default';document.getElementById('uname').value='Enter username here';}">
                                	</td><td>
                                	<input type="text" id="placeholder" class="default" value="Enter password here"
                                	onFocus="if (document.getElementById('placeholder').value == 'Enter password here') {document.getElementById('placeholder').style.display = 'none';document.getElementById('passwd').style.display = 'inline';document.getElementById('passwd').className='';document.getElementById('passwd').focus();}"/>
                                	<input id="passwd" type="password" class="default" value="" style="display: none;"
                                	onBlur="if (document.getElementById('passwd').value=='') {document.getElementById('passwd').style.display = 'none';document.getElementById('placeholder').style.display = 'inline';document.getElementById('placeholder').className='default';document.getElementById('placeholder').value='Enter password here';}">
                                	</td></tr>
                                </table>
                                <input type="submit" value="Log in" onclick="com_wide_wideweb_handleauth(window.$(uname).val(), window.$(passwd).val());">
                                <input type="submit" value="Register" onclick="window.open('#!register', '_self');return true;">
                            </div>
				      </div>
					</div>
				</div>
			</td>
			<td class="right">
				<div> </div>
			</td>
		<tr><td class="bottom"></td></tr>
	</table>
	<div class="footer">
		<div>
			® Copyight by <a href="/">WIDE</a>, 
			Made by <a href="/" target="_blank">The W.I.D.E. Team</a>
			<ul class="footerIcons">
				<li><a href="#!login" target="" class="donate">donate</a></li>
				<li><a href="#!login" target="" class="aboutUs">about us</a></li>
			</ul>
			<ul class="socialIcons">
				<li><a href="1.html" target="#!login" class="fbIco">facebook</a></li>
				<li><a href="2.html" target="#!login" class="twIco">about us</a></li>
				<li><a href="3.html" target="#!login" class="gIco">google+</a></li>
				<li><a href="4.html" target="#!login" class="ytIco">youtube</a></li>
			</ul>
		</div>
	</div>
</body>
</html>