<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="Wide">
    <meta name="Keywords" content="Wide">
    <title>WIDE</title>
	<link rel="stylesheet" href="../styles.css">
	<link rel="stylesheet" href="../css/welcome.css">
	<meta http-equiv="refresh" content="2000">
	<script type="text/javascript" src="../js/jquery-2.1.0.js"></script>
	<script type="text/javascript">
		$( document ).ready(function() {
			/* welcome amination set to 1 */ $animation = 0;
		});
	</script>
	<script type="text/javascript" src="../js/welcomeAnimation.js"></script>
	<script type="text/javascript" src="../js/subHeader.js"></script>
</head>
<body class="">
	<div class="header">
		<div>
			<ul class="menu">
				<li><a href="#!register" target="" class="learn">Learn</a></li>
				<li><a href="#!register" target="" class="teach">Teach</a></li>
			</ul>
			<div class="topSearch search reset">
				<div class="input"><input class="searchInput default" type="text" value="Enter search keywords here" /><input class="filterIco" type="submit" value=" "/></div>
			</div>
			<a href="#!register" class="userIco">
				<div location="auth_user"></div>
			</a>
			<a href="#!register" class="logo" title="WIDE"></a>
			<div class="subHeader">
				<div class="subMenuContainer">
					<ul class="subMenu first">
					</ul>
					<ul class="subMenu second no6">
					</ul>
				</div>
				<div class="userSubContainer">
					<ul class="subMenu">
						<li><a href="#!register" target="">Log in</a></li>
						<li><a href="#!register" target="">Profile</a></li>
						<li><a href="#!register" target="">Log out</a></li>
					</ul>
				</div>
				<div class="searchFilter reset">
					<ul class="col">
						<li><a href="#!register" target="">Difficulty level 1-5</a></li>
						<li><a href="#!register" target=""><input type="text" class="default" value="Author" /></a></li>
						<li><a href="#!register" target="">School level</a></li>
						<li><a href="#!register" target="">Type</a></li>
					</ul>
					<ul class="col">					
						<li><a href="#!register" target="">Ratings
								<div class="rating">
									<input type="checkbox" name="rating1" value="1" checked /><span></span>
									<input type="checkbox" name="rating2" value="2" checked /><span></span>
									<input type="checkbox" name="rating3" value="3" checked /><span></span>
									<input type="checkbox" name="rating4" value="4" checked /><span></span>
									<input type="checkbox" name="rating5" value="5" checked /><span></span>
								</div>
							</a>
						</li>
						<li><a href="#!register" target=""><input type="text" class="default" value="Publisher" /></a></li>
						<li><a href="#!register" target=""><input type="text" class="default" value="Book" /></a></li>
						<li><a href="#!register" target=""><input type="text" class="default" value="Title" /></a></li>
					</ul>
					<ul class="col">					
						<li><a href="#!register" target="">Test member yes/no</a></li>
						<li><a href="#!register" target=""><input type="text" class="half default" value="Submits No." /></a></li>
					</ul>
					<a class="closeFilter" href="#!register"></a>
					<a href="#!register" class="clearFilter">X</a>
					<ul class="typeSelector">
						<input type="checkbox" name="typeCategory" value="1" checked /><li>Menus</li><input type="checkbox" name="typeLesson" value="1"  checked /><li>Lessons</li><input type="checkbox" name="typeTest" value="1"  checked  /><li>Tests</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<table class="container">
		<tr><td class="top"></td></tr>
		<tr>
			<td class="left">&nbsp;</td>
			<td class="main mainPageShadow">
				<div class="thirdContent">
					<div class="login">
						<div class="registerPanel">
                            <div class="input fadeIn" style="display: block;">
                            	<font color="white" size="3">Registration form</font>
                                <div location="username"></div>
                                <div location="password"></div>
                                <div location="cpassword"></div>
                                <div location="name"></div>
                                <div location="dateofbirth"></div>
                                <div location="email"></div>
                                <span class="inputLabel">Gender: <font color="red" size="4">*</font></span>
									  <input id="male" type="radio" name="field" value="option" checked>
                                      <label for="male">Male</label>
                                      <input id="female" type="radio" name="field" value="option">
                                      <label for="female">Female</label>
                                <div location="interests"></div>
                                <br>
                                <input type="submit" value="Register" onclick="com_wide_wideweb_register(window.$(&quot;input[id='male']:checked&quot;).val())">
                                <input type="submit" value="Go back" onclick="window.open('#!main', '_self');return true;">
							</div>
				      </div>
					</div>
				</div>
			</td>
			<td class="right">
				<div> </div>
			</td>
		<tr><td class="bottom"></td></tr>
	</table>
	<div class="footer">
		<div>
			® Copyight by <a href="/">WIDE</a>, 
			Made by <a href="/" target="_blank">The W.I.D.E. Team</a>
			<ul class="footerIcons">
				<li><a href="#!register" target="" class="donate">donate</a></li>
				<li><a href="#!register" target="" class="aboutUs">about us</a></li>
			</ul>
			<ul class="socialIcons">
				<li><a href="1.html" target="" class="fbIco">facebook</a></li>
				<li><a href="2.html" target="" class="twIco">about us</a></li>
				<li><a href="3.html" target="" class="gIco">google+</a></li>
				<li><a href="4.html" target="" class="ytIco">youtube</a></li>
			</ul>
		</div>
	</div>
</body>
</html>