<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Wide Login</title>
</head>
<body>
<table width="100%" height="100%">
  <tr height="100%">
    <td>
 	 <table align="center">
        <tr>
     	 <td align="left">User&nbsp;name:</td>
     	 <td><div location="username"></div></td>
        </tr>
        <tr>
     	 <td align="left">Password:</td>
     	 <td><div location="password"></div></td>
        </tr>
 	 </table>
    </td>
  </tr>
  <tr>
  	<td colspan="2" align="right">
  		<div location="reg_link"></div>
  	</td>
  </tr>
  <tr>
  <td>
  	<table>
  		<tr>
		    <td align="right">
		 	 <div location="okbutton"></div>
		    </td>		    
	    </tr>
    </table>
   </td>
</tr>
</table>
</body>
</html>