$primary-color: #31859a;
	$primary-color-very-light: #eaf0f1;
	$primary-color-light: #459eb4;
	$primary-color-dark: #994858;
$secondary-color: #ffba00;
$third-color: #c0d7dd;
$fourth-color: #fff;
	$fourth-fade-color: #eee;
	$fourth-dark-color: #ccc;

$folder-color: #62ABFF;
$lesson-color: #E80C7A;
$test-color: #FFC000;

$submit-color: #3eb535;


$font-color: #444;
$font-light-color: #aaa;
$bg-color: $fourth-color;
$link-color: #000;
$headerBg-color: $primary-color;
$footerBg-color: $primary-color;
$headerText-color: #fff;
$mainBg-color: #fff;
$mainText-color: #444;
$footerText-color: $third-color;
$footerLink-color: $fourth-color;

